/* Reset */

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

/* General styles */

    /* Font */

    .bebas-neue-big {
        font-family: "Bebas Neue", serif;
        font-weight: 500;
        font-style: normal;
        font-size: clamp(160px, 20vw, 600px);
        line-height: 1;
        letter-spacing: -5px;
        word-wrap: break-word;
        white-space: normal;
    }

    .bebas-neue-mid {
        font-family: "Bebas Neue", serif;
        font-weight: 500;
        font-style: normal;
        font-size: clamp(80px, 10vw, 860px);
        line-height: 1;
        letter-spacing: -5px;
        word-wrap: break-word;
        white-space: normal;
    }

    .open-sans {
        font-family: "Open Sans", serif;
        font-weight: 500;
        font-style: normal;
    }

    /* Colors */

    .erie {
        color: #111111;
    }

    .bg-erie {
        background-color: #111111;
    }

    .jet {
        color: #323232;
    }

    .bg-jet {
        background-color: #323232;
    }

    .gray {
        color: #777;
    }

    .rich-black {
        color: #121821;
    }

    .bg-rich-black {
        background-color: #121821;
    }

    .white-smoke {
        color: #F7F5F5;
    }
    
    .bg-white-smoke {
        background-color: #F7F5F5;
    }

    .seasalt {
        color: #E7E7E7;
    }

    .bg-seasalt {
        background-color: #E7E7E7;
    }

    .timberwolf {
        color: #DDD0C8
    }

    .bg-timberwolf {
        background-color: #DDD0C8;
    }

/* Main content */

    html {
        overflow: hidden;
        scrollbar-width: none;
    }

    html::-webkit-scrollbar {
        display: none;
    }



    /* Header */

        header {
            font-size: 13px;
        }

        /* Contact button */

            #contact-button {
                border: 2px solid #777777;
                box-sizing: border-box;  /* Esto incluye el borde dentro del tamaño del botón */
            }

            #contact-button:hover {
                background-color: #FF5500;
                border-color: #FF5500;
                color: #1B1B1B;
            }

            /* From Uiverse.io by mobinkakei */ 
            .btn {
                width: 100px;
                height: 35px;
                border-radius: 50px;
                cursor: pointer;
                position: relative;
                overflow: hidden;
            }
            
            .btn span {
                transition: top 0.5s;
            }
            
            .btn-text-one {
                position: absolute;
                width: 100%;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            
            .btn-text-two {
                position: absolute;
                width: 100%;
                top: 150%;
                left: 0;
                transform: translateY(-50%);
            }
            
            .btn:hover .btn-text-one {
                top: -100%;
            }
            
            .btn:hover .btn-text-two {
                top: 50%;
            }

    /* Main */

    body {
        height: 100%;
        overflow-x: hidden;
    }

    #web-developer-container {
        overflow: hidden;
    }

    #web-text {
        font-size: clamp(160px, 20vw, 600px);
        line-height: 1;
        letter-spacing: -5px;
        word-wrap: break-word;
        white-space: normal;
    }
    
    #web-image {
        height: 15vw; 
        width: auto;
        display: inline-block;
        margin-left: 15em;
    }
    
    #developer-text {
        font-size: clamp(160px, 20vw, 600px);
        line-height: 1;
        letter-spacing: -5px;
        word-wrap: break-word;
        white-space: normal;
    }

    #sections-container div a {
        text-decoration: none;
    }

    #projects-link {
        transform: translateX(100%);
        transition: transform 0.8s ease-out;
        will-change: transform;
    }

    #curriculum-link {
        transform: translateX(-100%);
        transition: transform 0.8s ease-out;
        will-change: transform;
    }

    #about-me-link {
        transform: translateX(150%);
        transition: transform 0.8s ease-out;
        will-change: transform;
    }

        /* Modal Contact Form */

        .modal-custom {
            max-width: 550px;
            width: 100%;
        }

        .modal-header {
            background-color: #1d1d1d;
        }

        #contactForm input:focus, 
        #contactForm textarea:focus {
            border-color: #777777; /* Color del borde al seleccionar */
            outline: none;
            box-shadow: 0 0 10px #777777;
            transition: all 0.3s ease-in-out;
        }

        #contactForm input::placeholder, 
        #contactForm textarea::placeholder {
            color: rgba(255, 255, 255, 0.5);
            font-style: italic;
        }

        .modal-button {
            background-color: #111111;
            color: #F7F5F5;
            width: 75px;
        }

        .modal-button:hover {
            background-color: #181818;
            color: #F7F5F5;
            transform: scale(1.05);
        }

        .modal.fade .modal-dialog {
            transform: translateY(-50px);
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }

        .modal.show .modal-dialog {
            transform: translateY(0);
            opacity: 1;
        }

        .close-button-custom {
            background-color: #777777;
        }

    /* Footer */

        /* Social Media Icons */

        .social-icons {
            font-size: 1.5rem;
        }

        .social-icons a:hover {
            color: #F7F5F5;
        }


            

/* Media queries */

        /* Mobile phones */
        @media (max-width: 576px) {
            .modal-custom {
                max-width: 375px;
                width: 100%;
            }

            #web-developer-container {
                flex-direction: column;
                align-items: center;
            }
        
            #web-text {
                order: 1; /* Mantiene el texto arriba */
            }
        
            #web-image {
                order: 2; /* Mueve la imagen al final */
                margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
                margin-top: 15px; /* Agrega un espacio entre el texto y la imagen */
                height: auto;
                width: 35vw; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
            }
        
            #developer-text {
                order: 3; /* Mantiene "developer" debajo de la imagen */
            }
        }

        /* Vertical tablets */
        @media (min-width: 577px) and (max-width: 768px) {
            #web-developer-container {
                flex-direction: column;
                align-items: center;
            }
        
            #web-text {
                order: 1; /* Mantiene el texto arriba */
            }
        
            #web-image {
                order: 2; /* Mueve la imagen al final */
                margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
                margin-top: 15px; /* Agrega un espacio entre el texto y la imagen */
                height: auto;
                width: 35vw; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
            }
        
            #developer-text {
                order: 3; /* Mantiene "developer" debajo de la imagen */
            }
        }

        /* Horizontal tablets or laptops */
        @media (min-width: 769px) and (max-width: 992px) {
            
        }

        /* Desktops */
        @media (min-width: 993px) {
            
        }
