/* Style reset */

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

/* General styles */

    .my-bg-black {
        background-color: #1D1D1D;
    }

    .my-bg-grey {
        background-color: #2f2f2f;
    }

    .bg-blue {
        background-color: #004ACB;
    }

    .bg-light-blue {
        background-color: #2272FF;
    }

    .text-blue {
        color: #004ACB;
    }
    
    .text-light-blue {
    color: #2272FF;
    }

/* Body */

    body {
        background-color: #d1d1d1;
    }

/* Header */

    /*Logo */


    /* Navbar */

        #navbar {
            background-color: #111;
        }
        #navbar a {
            color: #b3b3b3;
        }
        #navbar a:hover {
            color: #ff0;
        }

/* Main */

    /* Welcome */


    /* Cards */

        .card {
            background-color: #8b8b8b;
            border: 1px solid #7c7c7c;
        }

        .card-title {
        color: #9b4d96;
        }

/* Footer */

    footer {
    background-color: #111;
    color: #b3b3b3;
    }

    footer a {
    color: #ff0;
    }

    footer a:hover {
    color: #9b4d96;
    }