/* Style reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles */

  /* Colors */

  .vanilla {
    color: #FFF1C0;
  }

  .bg-vanilla {
    background-color: #FFF1C0;
  }

  .black {
    color: #0E0E0E;
  }

  .bg-black {
    background-color: #0E0E0E;
  }

/* MAin content */

img {
  width: 90px;
  height: 125px;
  border-radius: 10%;
}
