/*GENERAL*/

body {
    min-height: 100%;
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
    text-align: justify;
    flex-direction: column;
    box-sizing: border-box;
}

/*CABEZERA*/

header {
    background-color: #2b2b2b;
    color: white;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: 1vw;
    font-size: 3.5vw;
}

header a {
    font-size: 1.5vw;
}

/*NAVEGADORES*/

.nav1 {
    background-color: #1a1a1a;
    padding: 1.25vw 1vw;
}

.nav2 {
    background-color: #333;
    padding: 1.25vw 1vw;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 1vw;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #990000;
}

/*TABLAS*/

table,
th,
td {
    border: 2px solid;
    border-collapse: collapse;
    background-color: #2b2b2b;
    color: white;
}

/*TRAILER*/

.trailer iframe {
    position: relative;
    width: 70vw;
    height: 40vw;
    margin-bottom: 3.5vw;
}

.trailer dt {
    color: white;
    background-color: #2b2b2b;
    padding: 1vw;
    width: 100%;
}

/*PLATAFORMAS*/

.plataformas {
    text-align: center;
    margin-top: 1vw;
}

.plataformas h3 {
    margin: 0;
    font-size: 2vw;
    color: #333;
}

.plataformas ul {
    list-style-type: none;
    padding: 0;
}

.plataformas li {
    display: inline-block;
    margin-right: 1.5vw;
}

.plataformas a {
    color: #333;
    text-decoration: none;
}

.plataformas a:hover {
    color: #990000;
}

/*FOOTER*/

footer {
    background-color: #333;
    color: white;
    width: 100%;
}

footer p {
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #990000;
}

/*MEDIA*/

@media only screen and (max-width: 768px) {
    body{
        font-size: 2.75vw;
    }

    .nav1, .nav2{
        float:left;
    }

    .nav1 a, .nav2 a{
        padding: 1vw;
        font-size: 3vw;
    }

    #inicio{
        font-size: 10vw;
        margin-bottom: 3vw;
    }

    .trailer {
        margin-right: 2vw;
    }

    .plataformas {
        font-size: 2.5vw;
    }
}