/* Style reset */

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

/* General styles */

    .my-bg-black {
        background-color: #0f0f0f;
    }

    .my-bg-grey {
        background-color: #131313;
    }

    .text-grey{
        color: #494949;
    }

/* Header */

    header {
        padding: 0;
    }

    /*Logo */

    .trn-game-bar-dropdown-item__icon {
        width: 24px;
        height: 24px;
        fill: #888888;
    }
    
    .trn-game-bar-dropdown-item__icon:hover {
        fill: #a3a3a3;
    }
    

    /* Navbar */

    .navbar {
        padding: 0.05rem;
    }

    .navbar-nav .nav-link {
        padding-top: 0.05rem;
        padding-bottom: 0.05rem;
    }

/* Main */

    /* Welcome */

    #main-welcome {
        margin-top: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    

    /* Games selector */

    #games-welcome {
        margin-bottom: 15px;
    }

    .card-img-top {
        height: 220px;
        border-radius: 10px;
    }

    /* Search */

    

/* Footer */


/* Media queries */

@media (max-width: 1024px) {

    /* Small screen Games */

    #games-section, #welcome-section {
        width: 100%;
    }
}