/* Style reset */

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

/* General styles */

    .my-bg-black {
        background-color: #0f0f0f;
    }

    .my-bg-grey {
        background-color: #242424;
    }

    .text-grey{
        color: #494949;
    }

/* Header */

    /*Logo */

    .logo {
        margin-right: 25px;
        padding-right: 25px;
        border-right: 1px solid #494949;
    }

    /* Navbar */

    #navbar * {
        padding-top: 0;
        padding-bottom: 0;
    }

    #nav-links {
        padding-left: 15px;
    }

/* Main */

    /* Welcome */

    #main-welcome {
        margin: 0;
    }
    

    /* Games selector */

    #games-welcome {
        margin-bottom: 15px;
    }

    .card-img-top {
        object-fit: cover;
    }

    /* Search */

    


/* Footer */


/* Media queries */

@media (max-width: 800px) {

    /* Small screen Welcome */

    #main-welcome {
        margin: 0;
        padding: 0;
        width: 100%;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 25px;
    }
}

    