/* Style reset */

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

/* General styles */

    /* Colors */

    .my-black {
        color: #060708;
    }

    .my-bg-black {
        background-color: #060708;
    }

    .raising-black {
        color: #232429;
    }

    .bg-raising-black {
        background-color: #232429;
    }

    .eerie-black {
        color: #18191C;
    }

    .bg-eerie-black {
        background-color: #18191C;
    }

    .blue-violet {
        color: #7137CF;
    }

    .bg-blue-violet {
        background-color: #7137CF;
    }

    /* League of legends colors */

    .oxford-blue {
        color: #081F33;
    }

    .bg-oxford-blue {
        background-color: #081F33;
    }

    .prussian-blue {
        color: #093459;
    }

    .bg-prussian-blue {
        background-color: #093459;
    }

    .teal {
        color: #18808E;
    }

    .bg-teal {
        background-color: #18808E;
    }

    .orange-peel {
        color: #FCA637;
    }

    .bg-orange-peel {
        background-color: #FCA637;
    }

    /* Overwatch colors */

    .erie-black {
        color: #1F1F1F;
    }

    .bg-erie-black {
        background-color: #1F1F1F;
    }

    .onyx {
        color: #3D3D3D;
    }

    .bg-onix {
        background-color: #3D3D3D;
    }

    .fulvous {
        color: #E78400;
    }

    .bg-fulvous {
        background-color: #E78400;
    }

    .spanish-orange {
        color: #F06414;
    }

    .bg-spanish-orange {
        background-color: #F06414;
    }

    /* PUBG colors */

    .night {
        color: #141412;
    }

    .bg-night {
        background-color: #141412;
    }

    .jet {
        color: #292929;
    }

    .bg-jet {
        background-color: #292929;
    }

    .dark-goldenrod {
        color: #9E8228;
    }

    .bg-dark-goldenrod {
        background-color: #9E8228;
    }

    .carrot-orange {
        color: #F39821;
    }

    .bg-carrot-orange {
        background-color: #F39821;
    }

    /* Fonts */

    .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    
    .roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .rajdhani-medium {
        font-family: "Rajdhani", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .rajdhani-bold {
        font-family: "Rajdhani", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .roboto-regular-16 {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
    }

    .rajdhani-medium-32 {
        font-family: "Rajdhani", sans-serif;
        font-size: 32px;
        font-weight: 500;
        font-style: normal;
    }

    .rajdhani-bold-35 {
        font-family: "Rajdhani", sans-serif;
        font-size: 35px;
        font-weight: 700;
        font-style: normal;
    }

    .rajdhani-bold-48 {
        font-family: "Rajdhani", sans-serif;
        font-size: 48px;
        font-weight: 700;
        font-style: normal;
    }
    

/* Header */

    header {
        padding: 0;
    }

    /*Logo */

    nav .item-icon {
        width: 24px;
        height: 24px;
        fill: #888888;
    }
    
    .item-icon:hover {
        fill: #a3a3a3;
    }
    

    /* Navbar */

    .navbar {
        padding: 0.05rem;
    }

    .navbar-nav .nav-link {
        padding-top: 0.05rem;
        padding-bottom: 0.05rem;
    }

    .main-navbar {
        width: 100vw;
    }


/* index */

/* Main */

    /* Games selector */

    #games-welcome {
        margin-bottom: 15px;
    }

    .card-img-top {
        border-radius: 10px;
    }

    .card-title {
        font-size: 18px;
    }

/* Media queries */

@media (max-width: 1024px) {

    /* Small screen Games */
    #landing-sidebar {
        padding: 25px;
        margin-bottom: 25px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;

        text-align: center;
    }

    #landing-content, #landing-sidebar, #main-navbar {
        width: 100%;
        margin-right: 0;
    }
}


/* First section */

    /* League of Legends */

    #lol-first-section {
        background-image: url("/diseño/multimedia/img/banner/banner-lol.jpg");
        border-bottom-left-radius: 100px;
        padding: 100px 250px;
    }

        /* Intro */

        #intro-image {
            height: 55px;
            width: 55px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 3px;

            margin-bottom: 19px;
        }

        #intro-image svg {
            height: 35px;
            width: 35px;
        }

/* Overwatch */

    #overwatch-first-section {
        background-image: url("/diseño/multimedia/img/banner/banner-overwatch.jpg");
        border-bottom-left-radius: 100px;
        padding: 100px 250px;
    }